<h1>All Teams</h1>

<% @teams.each do |team| %>
  <section class="team" id="team_<%= team.id %>">
    <h2><%= team.name %></h2>
    <p>Age: <%= team.age %></p>
    <p>Location: <%= team.location %></p>
  </section>
<% end %>
